<div class="container">
    <h2>Add new Servers or blueprints!</h2>
    <app-cockpit 
    (onAddServerEvent)="addServer($event)"
    (onAddServerBlueprintEvent)="addServerBlueprint($event)"
    ></app-cockpit>
    <hr>
    <app-server-element [servers] = "servers">
        <label>Server  A Blueprint data</label><br>

        <!-- <label b>Server  B Blueprint data</label><br> -->
        <div *ngFor="let obj of serverBlueprints">
            <label>{{obj.name}}</label><br>
            <label>{{obj.content}}</label>
        </div>
    </app-server-element>
</div>